.filter-list {
  text-align: center;
  display: flex;
  width: 70%;
  margin: auto;
  padding: 30px 20px 0;
}

.filter-list__item {
  width: calc(100% / 3);
  cursor: pointer;
  padding: 25px;
  background-color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.filter-list__item_active {
  background-color: rgb(241, 235, 226);
}

.filter-list__item:hover {
  background-color: antiquewhite;
}
